Repository CodeForPhilly/chime, pull requests merged in 2020-04, with the labels that each got.

#360 [Dash] Initial rework of how we use Dash callbacks
  src/__init__.py
  src/chime_dash/app/components/__init__.py
  src/chime_dash/app/components/base.py
  src/chime_dash/app/components/container.py
  src/chime_dash/app/components/content.py
  src/chime_dash/app/components/header.py
  src/chime_dash/app/components/intro.py
  src/chime_dash/app/components/tool_details.py
  src/chime_dash/app/components/visualizations.py
  src/chime_dash/app/pages/index.py
  src/chime_dash/app/pages/sidebar.py
  src/chime_dash/app/run.py
  src/chime_dash/app/services/__init__.py
  src/chime_dash/app/services/plotting.py
  src/chime_dash/app/utils/__init__.py
  src/chime_dash/app/utils/callbacks.py
  src/chime_dash/app/utils/templates.py
  src/dash_app.py
Labels: dash

#424 Update to docs with references to new deployment process
  docs/SUMMARY.md
  docs/operations/chime-live-cluster.md
  docs/operations/prepare-new-chime-release.md
  docs/operations/release-process.md
Labels: documentation

#482 Fixes/preprod ingress gtm injection
  k8s.preprod/app-ingress.yaml
  k8s.prod/app-ingress.yaml
Labels: k8s infra

#499 Fix parameters and "constants"
  .github/workflows/pythonapp.yml
  Dockerfile
  Dockerfile.dash
  defaults/cli.cfg
  defaults/cypress.cfg
  defaults/readme.txt
  defaults/webapp.cfg
  setup.py
  src/app.py
  src/chime_dash/__init__.py
  src/chime_dash/app/components/base.py
  src/chime_dash/app/components/navbar.py
  src/chime_dash/app/services/callbacks.py
  src/chime_dash/app/utils/__init__.py
  src/chime_dash/app/utils/templates.py
  src/penn_chime/cli.py
  src/penn_chime/constants.py
  src/penn_chime/parameters.py
  src/penn_chime/presentation.py
  src/penn_chime/settings.py
  src/penn_chime/validators/__init__.py
  src/penn_chime/validators/base.py
  src/penn_chime/validators/validators.py
  tests/conftest.py
  tests/penn_chime/test_parameters.py
  tests/penn_chime/test_settings.py
Labels: bug, cli, dash, models, streamlit

#501 Adding env variables to use for google api
  k8s/app.yaml
Labels: enhancement, k8s app, k8s infra

#530 Remove peak days
  e2e/cypress/integration/tests/steppers.spec.js
  src/app.py
  src/penn_chime/charts.py
  src/penn_chime/models.py
  tests/penn_chime/test_charts.py
Labels: hospital-request

#533 Update defaults
  defaults/cli.cfg
  defaults/webapp.cfg
Labels: hospital-request

#538 Refactor deployment workflows based on GitHub Releases
  .github/workflows/deploy.yml
  .github/workflows/dockerpublish.yml
  .github/workflows/heroku.yml
  .github/workflows/infra-deploy.yml
  .github/workflows/infra-release.yml
  docs/operations/prepare-new-chime-release.md
  docs/operations/release-automation.md
  docs/operations/release-process.md
  k8s/app.yaml
Labels: ci/cd

#554 #358 Add tests for the cli
  src/penn_chime/cli.py
  tests/penn_chime/test_cli.py
Labels: cli, qa

#557 ["dash"] Lock Zoom
  src/chime_dash/app/components/visualizations.py
  src/chime_dash/app/services/callbacks.py
  src/chime_dash/app/services/plotting.py
  src/chime_dash/app/templates/en/sidebar.yml
  src/chime_dash/app/utils/__init__.py
  src/chime_dash/app/utils/callbacks.py
Labels: dash, future

#565 [DevOps] adding readme for how to deploy elasticstack using helm charts
  docs/operations/helm/README.md
  k8s/helm/values/elasticsearch.yaml
Labels: documentation, k8s infra
